{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Rest your password</h3>
                    <p>Please call your teacher for help.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary ml-2">OK</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}